USE [AOC2022]
GO
/****** Object:  Table [dbo].[DAY_12_INPUT_SAMPLE]    Script Date: 12/12/2022 09:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAY_12_INPUT_SAMPLE](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[InputValue] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
